
<app-navbar></app-navbar>
<div class="relative">
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Zz48uPFxRe2DU5tk0hwH6XlwmX5PIZAyYQ&usqp=CAU" alt="Coffee" class="w-full h-auto">
  
    
    <div class="absolute inset-0 flex items-start justify-start flex-col text-white text-left bg-opacity-70 bg-black p-8">
      
      <h1 class="text-4xl font-bold italic mb-4">Great coffee<br> made simple</h1>
  
      
      <p class="text-lg mb-6">Start your mornings with the world’s best coffees. Try our <br> expertly curated artisan coffees from our best roasters <br> delivered directly to your door, at your schedule.</p>
  
      
      <a routerLink="/create-plan" class="bg-green-500 text-white px-8 py-4 rounded hover:bg-green-600">Create Your Plan</a>
    </div>
  </div>
<app-about-us></app-about-us>
<app-plan></app-plan>
<app-footer></app-footer>
  