<div class="footer bg-gray-800 text-white p-4">
    
    
    <div class="flex items-center justify-between mt-4">
      <div class="flex space-x-4">
        <a href="#" class="hover:text-gray-500">HOME</a>
        <a href="/about" class="hover:text-gray-500">ABOUT US</a>
        <a href="/subscribe" class="hover:text-gray-500">CREATE YOUR PLAN</a>
      </div>
  
      <div class="flex space-x-4">
        <a href="#" class="hover:text-gray-500"><i class="fab fa-facebook"></i></a>
        <a href="#" class="hover:text-gray-500"><i class="fab fa-twitter"></i></a>
        <a href="#" class="hover:text-gray-500"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  
