<!-- products.component.html -->

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="products bg-white p-4 rounded-lg shadow-md text-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDRyuLL50YclDManRIgRE_LCkxhM9PpkPaXQ7LJX6dMwvB7_OoAXX8yxN4DlYPh4yAs9Q&usqp=CAU" alt="Coffee Gran Espresso" class="w-full h-auto mb-4">
      <div class="products_text">
        <h3 class="font-bold text-black text-xl mb-2">Gran Espresso</h3>
        <p class="text-center">Light and flavorful blend with cocoa and black pepper for an intense experience.</p>
      </div>
    </div>
  
    <div class="products bg-white p-4 rounded-lg shadow-md text-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDRyuLL50YclDManRIgRE_LCkxhM9PpkPaXQ7LJX6dMwvB7_OoAXX8yxN4DlYPh4yAs9Q&usqp=CAU" alt="Coffee Planalto" class="w-full h-auto mb-4">
      <div class="products_text">
        <h3 class="font-bold text-black text-xl mb-2">Planalto</h3>
        <p class="text-center">Brazilian dark roast with rich and velvety body, and hints of fruits and nuts.</p>
      </div>
    </div>
  
    <div class="products bg-white p-4 rounded-lg shadow-md text-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDRyuLL50YclDManRIgRE_LCkxhM9PpkPaXQ7LJX6dMwvB7_OoAXX8yxN4DlYPh4yAs9Q&usqp=CAU" alt="Coffee Piccollo" class="w-full h-auto mb-4">
      <div class="products_text">
        <h3 class="font-bold text-black text-xl mb-2">Piccollo</h3>
        <p class="text-center">Mild and smooth blend featuring notes of toasted almond and dried cherry.</p>
      </div>
    </div>
  
    <div class="products bg-white p-4 rounded-lg shadow-md text-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDRyuLL50YclDManRIgRE_LCkxhM9PpkPaXQ7LJX6dMwvB7_OoAXX8yxN4DlYPh4yAs9Q&usqp=CAU" alt="Coffee Danche" class="w-full h-auto mb-4">
      <div class="products_text">
        <h3 class="font-bold text-black text-xl mb-2">Danche</h3>
        <p class="text-center">Ethiopian hand-harvested blend densely packed with vibrant fruit notes.</p>
      </div>
    </div>
  </div>
  