<!-- navigation.component.html -->

<nav class="bg-white p-4 flex justify-between items-center">
  <div class="flex items-center">
    <!-- <img src="path/to/your/logo.png" alt="Coffee Roasters Logo" class="h-10 mr-2"> -->
    <span class="text-black font-bold italic">Coffee Roasters</span>
  </div>

  <div class="flex space-x-4">
    <a routerLink="/" class="text-gray-700 hover:underline">Home</a>
    <a routerLink="/about" class="text-gray-700 hover:underline">About Us</a>
    <a routerLink="/create-plan" class="text-gray-700 hover:underline">Create Your Plan</a>
  </div>
</nav>
