

<div class="wrapper relative flex flex-col items-center">

 
  <div class="wrapper_information max-w-7xl mx-auto h-96 flex items-center justify-center">
    <div class="information_background w-full h-full bg-gray-900 rounded-lg p-8 text-center">
      <h3 class="text-4xl font-bold text-white mb-4">Why choose us?</h3>
      <p class="text-base text-white opacity-80">A large part of our role is choosing which particular coffees will be featured in our range. This means working closely with the best coffee growers to give you a more impactful experience on every level.</p>
    </div>
  </div>

 
  <div class="wrapper_cards grid grid-cols-1 md:grid-cols-3 gap-8 max-w-7xl mx-auto mt-16">
    
    <div class="card bg-green-500 p-8 rounded-lg m-4">
      <img src="../../../assets/home/icon-coffee-bean.svg" alt="Coffee bean Icon" class="w-16 h-auto mb-4">
      <div class="card_text text-center">
        <h4 class="text-white text-xl font-bold mb-2">Best quality</h4>
        <p class="text-white text-base">Discover an endless variety of the world’s best artisan coffee from each of our roasters.</p>
      </div>
    </div>

    
    <div class="card bg-green-500 p-8 rounded-lg m-4">
      <img src="../../../assets/home/icon-gift.svg" alt="Gift Icon" class="w-16 h-auto mb-4">
      <div class="card_text text-center">
        <h4 class="text-white text-xl font-bold mb-2">Exclusive benefits</h4>
        <p class="text-white text-base">Special offers and swag when you subscribe, including 30% off your first shipment.</p>
      </div>
    </div>

    
    <div class="card bg-green-500 p-8 rounded-lg m-4">
      <img src="../../../assets/home/icon-truck.svg" alt="Truck Icon" class="w-16 h-auto mb-4">
      <div class="card_text text-center">
        <h4 class="text-white text-xl font-bold mb-2">Free shipping</h4>
        <p class="text-white text-base">We cover the cost and coffee is delivered fast. Peak freshness: guaranteed.</p>
      </div>
    </div>
  </div>

  
  <div class="information mt-16 ml-12 text-gray-700 font-bold text-xl">How it works</div>

  <div class="wrapper_infos flex flex-col md:flex-row justify-center max-w-7xl mx-auto mb-10 space-x-4">
   
    <div class="info mx-4 mb-8 md:mb-0">
      <div class="top flex items-center mb-2">
        <div class="circle bg-green-500 rounded-full h-6 w-6 mr-2"></div>
      </div>
      <h2 class="text-2xl font-bold mb-2">01</h2>
      <h3 class="text-xl font-bold mb-2">Pick your coffee</h3>
      <p class="text-gray-700">Select from our evolving range of artisan coffees. Our beans are ethically sourced and we pay fair prices for them. There are new coffees in all profiles every month for you to try out.</p>
    </div>

    
    <div class="info mx-4 mb-8 md:mb-0">
      <div class="top flex items-center mb-2">
        <div class="circle bg-green-500 rounded-full h-6 w-6 mr-2"></div>
      </div>
      <h2 class="text-2xl font-bold mb-2">02</h2>
      <h3 class="text-xl font-bold mb-2">Choose the frequency</h3>
      <p class="text-gray-700">Customize your order frequency, quantity, even your roast style and grind type. Pause, skip or cancel your subscription with no commitment through our online portal.</p>
    </div>

  
    <div class="info mx-4 mb-8 md:mb-0">
      <div class="top flex items-center mb-2">
        <div class="circle bg-green-500 rounded-full h-6 w-6 mr-2"></div>
      </div>
      <h2 class="text-2xl font-bold mb-2">03</h2>
      <h3 class="text-xl font-bold mb-2">Receive and enjoy!</h3>
      <p class="text-gray-700">We ship your package within 48 hours, freshly roasted. Sit back and enjoy award-winning world-class coffees curated to provide a distinct tasting experience.</p>
    </div>
  </div>

  <div class="but ml-12 mb-16">
    
  </div>
</div>
